[app]
model = debug
domain = http://facehub.net

[email]
api_url = https://api.mailgun.net/v3/facehub.net/messages
api_key = mailgun-api-key
secret_key = mailgun-secret-key
salt = salt-value

[database]
url = sqlite:///facehub.db

[cloud]
bucket = facehub
accesskey = qiniu-accesskey
secretkey = qiniu-secret-key
imageserverurl = qiniu-bucket-url

