<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/assets/css/page/edit-photo.css">
    <link rel="stylesheet" href="/assets/css/lib/jquery.Jcrop.min.css">
</head>
<body>

<img src="http://58.214.255.28/epaper/wxxzk/html/2013/11/22/C01/images/1.jpg">
<img src="http://58.214.255.28/epaper/wxxzk/html/2013/11/22/C01/images/1.jpg">
</body>
<script src='/assets/js/lib/jquery.min.1.9.1.js'></script>
<script src='/assets/js/lib/juqery.Jcrop.min.js'></script>
<script src='/assets/js/lib/juqery.color.min.js'></script>
</html>