<!DOCTYPE html>
<html>
    <head>
        <title></title>
		<link rel="stylesheet" href="/css/page/main-photo.css" type="text/css" />
        <link rel="stylesheet" href="/css/lib/jquery.Jcrop.min.css" type="text/css" />
    </head>
    <body>
        <div>
            <div>
                <img id ="main-photo" src="http://mingxing.dabaoku.com/gangtainan/wanglihong/153fw.jpg">
            </div>
            <div class="preview">
            	<div class="background">
            		<img src="http://mingxing.dabaoku.com/gangtainan/wanglihong/153fw.jpg">
            	</div>
            </div>
        </div>
    </body>
    <script src='/js/lib/jquery.min.1.9.1.js'></script>
    <script src="/js/lib/jquery.Jcrop.min.js"></script>
    <script src="/js/page/image-crop.js"></script>
</html>