
<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>成员列表</title>
  <link rel="stylesheet" href="/assets/css/lib/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/lib/base.css">
  <link rel="stylesheet" href="/assets/css/partial/card.css">
  <link rel="stylesheet" href="/assets/css/page/featured.css">
  <link rel="stylesheet" href="/assets/css/page/profile-detail.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <nav>
      <div class='top'>
          <div class='title pull-left'>
            <a href="/">
                ThoughtWorkers in Xi'an
            </a>
          </div>
          <div class='home pull-right'>
            <span class="btn-group">
              <a class='top-button card active' href="javascript:void(0)"><i class="fa fa-th"></i></a>
              <a class='top-button list' href="javascript:void(0)"><i class="fa fa-th-list"></i></a>
            </span>
            <a class='top-button new-profile hidden' href="/upload">+ 我要上墙</a>
            <a class='top-button edit-profile hidden' href="/profile">编辑</a>
          </div>
      </div> 
    </nav>

    <div class="canvas anni">
        <div class="banner">
            <div class="first-line">
                <a href="/">所有人</a>
                <span class="arrow">></span>
            </div>
            <div class="title">周年纪念</div>
            <div class="tip">本月这些同事即将迎来加入公司的周年纪念日</div>
        </div>
    </div>

  <div id='members'></div>
  <table id="table"></table>
  <div id='current-profile'></div>

  <script id='card-template' type='text/ractive'>
    {{#anniversary_users}}
        {{#if this.completion}}
        <div class='profile profile-link' data-user-id="{{id}}">
          <img class="photo" src="{{avatar}}" alt="{{name}}" width='160' height='160'>
          <div class="name">
            {{name}}
          </div>
        </div>
        {{/if}}
    {{/anniversary_users}}
  </script>

  <script id="list-template" type="text/ractive">
    <table class="table-list">
    {{#anniversary_users}}
      {{#if this.completion}}
          <tr>
            <td width="80"><div class="profile" data-user-id="{{id}}"><img class="photo profile-link" src="{{avatar}}" alt="{{name}}" width='60' height='60'></div></td>
            <td><a href="javascript:void(0)" class="profile-link">{{name}}</a></td>
            <td>{{email}}</td>
            <td>{{office}}</td>
            <td>{{title}}</td>
            <td>{{project}}</td>
            <td><a href="javascript:void(0)" class="profile-link more">More</a></td>
          </tr>
        
      {{/if}}
    {{/anniversary_users}}
    </table>
  </script>

<script id="current-template" type='text/ractive'>
  <div class='profile-detail'>
    <div class='pull-left detail-img'>
      <img class="photo" src="{{photo}}" alt="{{name}}">
    </div>
    <div class='pull-right detail-info'>
      <div class="name section">
        {{name}}
      </div>
      <a class='edit-entry'>
        <span class='edit-image'></span>
        <span>编辑</span>
      </a>
      <hr class='gap'>
      {{#office}}
      <div class='position section'>
          <div class="head"> 所属办公室 </div>
          {{office}}
       </div>
       {{/office}}
     {{#title}}
      <div class='position section'>
          <div class="head"> 职位 </div>
          {{title}}
       </div>
       {{/title}}
       {{#project}}
       <div class='project section'>
          <div class="head"> 当前项目 </div>
         {{project}}
       </div>
       {{/project}}
       {{#birthday}}
       <div class='position section'>
          <div class="head"> 生日 </div>
          <span class="birthday">{{birthday}}</span>
       </div>
       {{/birthday}}
       {{#onboard}}
       <div class='position section'>
          <div class="head"> 入职日期 </div>
          {{onboard}}
       </div>
       {{/onboard}}
       {{#email}}
       <div class='email section'>
          <div class="head"> 邮箱 </div>
         {{email}}
       </div>
       {{/email}}
       {{#phone}}
       <div class='phone-number section'>
          <div class="head"> 电话 </div>
         {{phone}}
       </div>
       {{/phone}}
       {{#skype}}
       <div class='skype section'>
          <div class="head"> Skype </div>
         {{skype}}
       </div>
       {{/skype}}
    </div>
  </div>
</script>
<footer class="copyright">© Shigotongo.2014</footer>
<a href="https://jinshuju.net/f/AeKIfA" target="_blank" class="feedback">点我反馈</a>

<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdn.bootcss.com/ractive/0.6.1/ractive.js"></script>
<script src="//cdn.bootcss.com/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/assets/js/page/anniversary.js"></script>

</body>
</html>