<!doctype html>
<html lang='en-GB'>
	<head>
	  <meta charset='utf-8'>
	  <title>添加新成员</title>
	  <link rel="stylesheet" href="/assets/css/page/edit-profile.css">
	</head>

	<body>
		<div class='top'>
			<div class='title pull-left'>
				添加新成员
			</div>
			<div class='home pull-right'>
				<a class='home' href="/">返回照片墙 >></a>
			</div>
		</div>
		<div class='profile'>
		  <div class='portrait'>
		    <div class="photos" alt="default-photo">
		    	<img class="avatar" src="{{avatar}}">
		    	<img class="photo" src="{{photo}}">
		    </div>
		    <a class="tips" href="#">点我上传靓照</a>
		  <form class='info' action='/api/users', method='post'>
		  	<input type="hidden" name="avatar" value="{{avatar}}">
		  	<input type="hidden" name="photo" value="{{photo}}">
		  	<h3>基础信息</h3>
				<div class='line'>
					<label for='name'>姓名*</label> 
					<input name='name' type='text' class='name' pattern="[^\s]{3,}" required></input>
				</div>
				<div class='line'>
					<label for='title'>职位*</label> 
					<select name='title' id='title' pattern="[^\s]{3,}" required>
						<option value="dev">软件开发工程师</option>
						<option value="ui">前端开发</option>
					</select>
				</div>
				<div class='line'>
					<label for='currentProject'>当前项目*</label>
					<select name='project' id='currentProject' pattern="[^\s]{3,}" required>
						<option value="myfun">REA Myfun</option>
					</select>
				</div>
				<div class='line'>
					<label for='email'>公司邮箱*</label> 
					<input name='email' id='email' pattern="[^\s]{3,}@thoughtworks.com$" type='email' required></input>
				</div>
				<h3>联系方式</h3>
				<div class='line'>
					<label for='phone'>电话</label> <input name='phone' id='phone'></input>
				</div>
				<div class='line'>
				 	<label for='skype'>Skype</label> <input name='skype' id='skype'></input>
				</div>
				<div class='separator'></div>
				<div class='submit'>
					<button class='btn' href="#" type="submit">
						提交
					</button>
				</div>
		  </form>
		</div>
	</body>	
</html>