<!doctype html>
<html lang='en-GB'>
	<head>
	  <meta charset='utf-8'>
	  <title>添加新成员</title>
	  <link rel="stylesheet" href="/assets/css/page/edit-profile.css">
	  <link rel="stylesheet" href="/assets/css/lib/base.css">
	</head>

	<body>
		<nav>
			<div class='top'>
				<div class='title pull-left'>
					添加新成员
				</div>
				<div class='home pull-right'>
					<a class='top-button' href="/">返回照片墙 >></a>
				</div>
			</div>
		</nav>
		<div class="mask">
		    <img src="/assets/images/loading1.gif" id="loading-image">
		</div>
		<div class='profile'>
		  <div class='portrait'>
		    <div class="photos" alt="default-photo">
		    	<img class="avatar" src="{{avatar}}">
		    	<img class="photo" src="{{photo}}">
		    </div>
		    <a class="tips" href="#" onclick="alert('就两天时间，大侠不要这么拼啊！！！');">我想换一张</a>
		  <form class='info' action='/api/users', method='post'>
		  	<h3>基础信息</h3>
				<div class='line'>
					<label for='name'>姓名*</label> 
					<input name='name' type='text' class='name' pattern="[^\s]{2,}" required oninvalid="setCustomValidity('请输入合法的姓名')"></input>
				</div>
				<div class='line'>
					<label for='title'>职位*</label> 
					<select name='title' id='title' pattern="[^\s]{3,}" required>
						<option value="项目经理 PM">项目经理 PM</option>
						<option value="软件开发工程师 Dev">软件开发工程师 Dev</option>
						<option value="开发运维工程师 DevOps">开发运维工程师 DevOps</option>
						<option value="前端开发 UIDev">前端开发 UIDev</option>
						<option value="业务分析师 BA">业务分析师 BA</option>
						<option value="质量保证工程师 QA">质量保证工程师 QA</option>
						<option value="用户体验设计师 UX(XD)">用户体验设计师 UX(XD)</option>
						<option value="行政专员 Admin">行政专员 Admin</option>
						<option value="财务专员 Finance">财务专员 Finance</option>
						<option value="网络管理专员 IS">网络管理专员 IS</option>
						<option value="招聘专员 Recruiter">招聘专员 Recruiter</option>
						<option value="市场专员 Marketer">市场专员 Marketer</option>
						<option value="人事专员 People Support">人事专员 People Support</option>
						<option value="销售工程师 BD">销售工程师 BD</option>
						<option value="MD">MD</option>
					</select>
				</div>
				<div class='line'>
					<label for='currentProject'>当前项目*</label>
					<select name='project' id='currentProject' pattern="[^\s]{3,}" required>
						<option value="暂无">暂无</option>
						<option value="REA Myfun">REA Myfun</option>
						<option value="REA 1Form">REA 1Form</option>
						<option value="REA Media & Developer">REA Media & Developer</option>
						<option value="REA CASA">REA CASA</option>
						<option value="REA RCA">REA RCA</option>
						<option value="REA Android">REA Android</option>
						<option value="REA Resi">REA Resi</option>
						<option value="REA CDC">REA CDC</option>
						<option value="REA Group Platform">REA Group Platform</option>
						<option value="Livetext GC">Livetext GC</option>
						<option value="Livetext FEM">Livetext FEM</option>
						<option value="Livetext C1">Livetext C1</option>
						<option value="Telstra MSP iPhone">Telstra MSP iPhone</option>
						<option value="Telstra MSP Android">Telstra MSP Android</option>
						<option value="Telstra 箭鱼">Telstra 箭鱼</option>
						<option value="Telstra 海马">Telstra 海马</option>
						<option value="Telstra 海豚">Telstra 海豚</option>
						<option value="Telstra 兵马俑">Telstra 兵马俑</option>
						<option value="Telstra Orpheus">Telstra Orpheus</option>
						<option value="Telstra le tigre">Telstra le tigre</option>
					</select>
				</div>
				<h3>联系方式</h3>
				<div class='line'>
					<label for='phone'>电话</label> <input name='phone' id='phone'></input>
				</div>
				<div class='line'>
				 	<label for='skype'>Skype</label> <input name='skype' id='skype'></input>
				</div>
				<div class='separator'></div>
				<div class='submit'>
					<button class='small-button' href="#" type="submit">
						提交
					</button>
				</div>
		  </form>
		</div>
		<a href="https://jinshuju.net/f/AeKIfA" target="_blank" class="feedback">点我反馈</a>
		<footer class="copyright">© Shigotongo.2014</footer>
	</body>
</html>