<!doctype html>
<html lang='en-GB'>
	<head>
	  <meta charset='utf-8'>
	  <title>添加新成员</title>
	  <link rel="stylesheet" href="/assets/css/page/edit-profile.css">
	  <link rel="stylesheet" href="/assets/css/lib/base.css">
	</head>

	<body>
		<nav>
			<div class='top'>
				<div class='title pull-left'>
					添加新成员
				</div>
				<div class='home pull-right'>
					<a class='top-button' href="/">返回照片墙 >></a>
				</div>
			</div>
		</nav>
		<div class="mask">
		    <img src="/assets/images/loading1.gif" id="loading-image">
		</div>
		<div class='profile'>
		  <div class='portrait'>
		    <div class="photos" alt="default-photo">
		    	<img class="avatar" src="{{avatar}}">
		    	<img class="photo" src="{{photo}}">
		    </div>
		    <a class="tips" href="#">我想换一张</a>
		  <form class='info' action='/api/users', method='post'>
		  	<h3>基础信息</h3>
				<div class='line'>
					<label for='name'>姓名*</label> 
					<input name='name' type='text' class='name' pattern="[^\s]{2,}" required oninvalid="setCustomValidity('请输入合法的姓名')"></input>
				</div>
				<div class='line'>
					<label for='title'>职位*</label> 
					<select name='title' id='title' pattern="[^\s]{3,}" required>
						<option value="dev">软件开发工程师</option>
						<option value="ui">前端开发</option>
					</select>
				</div>
				<div class='line'>
					<label for='currentProject'>当前项目*</label>
					<select name='project' id='currentProject' pattern="[^\s]{3,}" required>
						<option value="myfun">REA Myfun</option>
					</select>
				</div>
				<h3>联系方式</h3>
				<div class='line'>
					<label for='phone'>电话</label> <input name='phone' id='phone'></input>
				</div>
				<div class='line'>
				 	<label for='skype'>Skype</label> <input name='skype' id='skype'></input>
				</div>
				<div class='separator'></div>
				<div class='submit'>
					<button class='small-button' href="#" type="submit">
						提交
					</button>
				</div>
		  </form>
		</div>
		<a href="https://jinshuju.net/f/AeKIfA" target="_blank" class="feedback">点我反馈</a>
	</body>	
</html>