
<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>成员列表</title>
  <link rel="stylesheet" href="/assets/css/lib/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/lib/base.css">
  <link rel="stylesheet" href="/assets/css/page/index.css">
  <link rel="stylesheet" href="/assets/css/page/profile-detail.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <nav>
      <div class='top'>
          <div class='title pull-left'>
            ThoughtWorkers in Xi'an
          </div>
          <div class='home pull-right'>
            <span class="btn-group">
              <a class='top-button card active' href="javascript:void(0)"><i class="fa fa-th"></i></a>
              <a class='top-button list' href="javascript:void(0)"><i class="fa fa-th-list"></i></a>
            </span>
            <a class='top-button new-profile hidden' href="/upload">+ 我要上墙</a>
            <a class='top-button edit-profile hidden' href="/profile">编辑我的卡片</a>
          </div>
      </div> 
    </nav>
  <div id="birthday"></div>
  <div id='members'></div>
  <table id="table"></table>
  <div id='current-profile'></div>

  <script id='birthday-template' type="text/ractive">
    <div class="shou-xing-canvas">
        <a href="/birthday-users">
            <span class="title">本月寿星</span>
            <div class="user-box">
                {{#users}}
                    <img src="{{avatar}}" width="50" height="50">
                {{/users}}
                <div class="more">更多</div>
            </div>
        </a>
    </div>
  </script>

  <script id='card-template' type='text/ractive'>
    {{#users}}
      {{#if this.completion}}
        <div class='profile profile-link' data-user-id="{{id}}">
          <img class="photo" src="{{avatar}}" alt="{{name}}" width='160' height='160'>
          <div class="name">
            {{name}}
          </div>
        </div>
      {{/if}}
    {{/users}}
  </script>

  <script id="list-template" type="text/ractive">
    <table class="table-list">
    {{#users}}
      {{#if this.completion}}
          <tr data-user-id="{{id}}">
            <td><img class="photo profile-link" src="{{avatar}}" alt="{{name}}" width='60' height='60'></td>
            <td><a href="javascript:void(0)" class="profile-link">{{name}}</a></td>
            <td>{{email}}</td>
            <td>{{office}}</td>
            <td>{{title}}</td>
            <td>{{project}}</td>
            <td><a href="javascript:void(0)" class="profile-link">More</a></td>
          </tr>
        
      {{/if}}
    {{/users}}
    </table>
  </script>

<script id="current-template" type='text/ractive'>
  <div class='profile-detail'>
    <div class='pull-left detail-img'>
      <img class="photo" src="{{photo}}" alt="{{name}}">
    </div>
    <div class='pull-right detail-info'>
      <div class="name section">
        {{name}}
      </div>
      <a class='edit-entry'>
        <span class='edit-image'></span>
        <span>编辑</span>
      </a>
      <hr class='gap'>
      <div class='position section'>
          <div class="head"> Title </div>
          {{title}}
       </div>
       <div class='project section'>
          <div class="head"> Team </div>
         {{project}}
       </div>
       <div class='email section'>
          <div class="head"> Email </div>
         {{email}}
       </div>
       <div class='phone-number section'>
          <div class="head"> Mobile </div>
         {{phone}}
       </div>
       <div class='skype section'>
          <div class="head"> Skype </div>
         {{skype}}
       </div>
    </div>
  </div>
</script>
<footer class="copyright">© Shigotongo.2014</footer>
<a href="https://jinshuju.net/f/AeKIfA" target="_blank" class="feedback">点我反馈</a>

<script src='/assets/js/lib/jquery.min.1.9.1.js'></script>
<script src='/assets/js/lib/jquery.cookie.js'></script>
<script src='/assets/js/lib/underscore-min.js'></script>
<script src='/assets/js/lib/ractive.js'></script>
<script src='/assets/js/lib/jquery.magnific-popup.js'></script>
<script type="text/javascript" src="/assets/js/page/index.js"></script>

</body>
</html>