<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8'>
  <title>team members</title>
  <link rel="stylesheet" href="/assets/css/lib/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/page/index.css">
  <link rel="stylesheet" href="/assets/css/page/profile-detail.css">
</head>

<body>
  <h1 class='title'>ThoughtWorks in Xi'an</h1>

  <div id='members'></div>
  <div id='current-profile'></div>

  <script id='template' type='text/ractive'>
    {{#users}}
      <div class='profile' data-user-id="{{id}}">
        <img class="photo" src="{{avatar}}" alt="{{name}}" width='160' height='160'>
        <div class="name">
          {{name}}
        </div>
      </div>
    {{/users}}
  </script>

<script id="current-template" type='text/reactive'>
  <div class='profile-detail'>
    <div class='pull-left detail-img'>
      <img class="photo" src="{{photo}}" alt="{{name}}">
    </div>
    <div class='pull-right detail-info'>
      <div class="name section">
        {{name}}
      </div>
      <hr class='gap'>
      <div class='position section'>
          <div class="head"> Title </div>
          {{title}}
       </div>
       <div class='project section'>
          <div class="head"> Team </div>
         {{project.name }}
       </div>
       <div class='email section'>
          <div class="head"> Email </div>
         {{email}}
       </div>
       <div class='phone-number section'>
          <div class="head"> Mobile </div>
         {{phone}}
       </div>
       <div class='skype section'>
          <div class="head"> Skype </div>
         {{skype}}
       </div>
    </div>
  </div>
</script>
<div class="copyright">© Shigotongo.2014</div>

<script src='/assets/js/lib/jquery.min.1.9.1.js'></script>
<script src='/assets/js/lib/ractive.js'></script>
<script src='/assets/js/lib/jquery.magnific-popup.js'></script>
<script type="text/javascript" src="/assets/js/page/index.js"></script>

</body>
</html>