<!doctype html>
<html>
    <head>
      <meta charset='utf-8'>
      <title>添加新成员</title>
      <link rel="stylesheet" href="/assets/css/lib/dropzone.css">
      <link rel="stylesheet" href="/assets/css/lib/base.css">
      <link rel="stylesheet" href="/assets/css/page/upload.css">
    </head>

    <body>
        <nav>
          <div class='top'>
            <div class='title pull-left'>
                添加新成员
            </div>
            <div class='home pull-right'>
                <a class='top-button' href="/">返回照片墙 >></a>
            </div>
          </div>
        </nav>
        <div class='profile'>
          <div class='portrait'>
            <form id="upload-form" action="/upload" class="dropzone">
                <div class="fallback">
                    <input name="data" type="file" multiple />
                </div>
                  
                <div class="photo" alt="default-photo"></div>
            </form>
          </div>
          <input type="button" class="big-button" name="token" value='点我上传靓照'>
          <div class="description">建议你选择一张正面全身的生活照，并且能让别人看清楚你的脸（没有墨镜或长檐帽子）</div>
        </div>
        <a href="https://jinshuju.net/f/AeKIfA" target="_blank" class="feedback">点我反馈</a>

        <script src='/assets/js/lib/jquery.min.1.9.1.js'></script>
        <script src='/assets/js/lib/dropzone.js'></script>
        <script src='/assets/js/page/upload.js'></script>
        <footer class="copyright">© Shigotongo.2014</footer>
    </body> 
</html>