.container{
    max-width: 960px;
    margin: 20px auto;
}
.container .tips{
    display: block;
}
.container .operations{
    overflow: hidden;
}
.raw-photo{
    float: left;
    margin-top: 20px;
}
.raw-photo img{
    width: 680px;
}
.preview.blank{
    background-color: grey;
}

.preview {
    overflow: hidden;
    width: 300px;
    height: 400px;
}
#submit{
    margin-right: 15px;
}
