.container{
    max-width: 960px;
    margin: 20px auto;
}
.container .tips{
    display: block;
}
.container .operations{
    overflow: hidden;
}
.raw-photo{
    float: left;
    margin-top: 20px;
}
.raw-photo img{
    width: 680px;
}

.preview {
    display: none;
}
#submit{
    margin-right: 15px;
}
.sample img{
    display: block;
}
.sample{
    margin-top: 20px;
}
.sample .name{
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    background-color: #FFFFFF;
}
.sample .tips{
    margin-top: 20px;
    text-align: center;
}
#loading-image{
    // display: none;
}