body {
    box-sizing: border-box;
    margin: 0;
    background-color: #F5F5F5;
}    
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

.top {
    height: 70px;
    background-color: #F50057;
    color: white;
}
.top .title {
    margin-top: 16px;
    font-size: 28px;
    margin-left: 250px;
    font-family: "Arial";
}
.top .home {
    margin-top: 27px;
    font-family: "Heiti SC Light","Heiti SC";
    font-size: 16px;
    margin-right: 150px;
    font-family: "Heiti SC Light","Heiti SC";
    color: white;
    text-decoration: none;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.container .tips{
    display: block;
}
.container .operations{
    overflow: hidden;
}
.raw-photo{
    float: left;
}
.raw-photo img{
    width: 680px;
}

.preview{
    display: none;
}

.sample img{
    display: block;
}
.sample .name{
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    background-color: #FFFFFF;
}
.sample .tips{
    margin-top: 20px;
    text-align: center;
}

input{
    display: block;
    margin: 20px;
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px 40px;
    text-align: center;
}
input:hover{
    background-color: #F50057;
    cursor: pointer;
    color: #FFFFFF;
}