.profile {
	max-width: 960px;
	margin: 50px auto;
	position: relative;
}
.profile .portrait {
	display: inline-block;
	width: 35%;
}
.portrait .photo {
	width: 350px;
	margin-bottom: 20px;
}
.portrait .avatar {
	width: 160px;
	margin-bottom: 20px;
}
.portrait .tips {
	font-size: 14px;
	margin-left: 60px;
	text-decoration: none;
	color: #09F;
	font-family: "Arial Regular","Arial";
}
.portrait .description {
	font-size: 12px;
	text-align: left;
	margin-top:10px;
	color: #999999;
	font-family: "Heiti SC Light","Heiti SC";
	width: 210px;
}
.profile .info {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}
.info .line {
		height: 40px;
		margin: 10px 5px;
}
.info .line label {
	float: left;
	width: 100px;
	font-size: 16px;
	line-height: 40px;
	color: #444;
}
.info .line input, .info .line select {
	box-sizing: border-box;
	height: 40px;
	width: 220px;
	padding: 4px;
	border: 1px solid #ccc;
	font-size: 14px;
	color: #333;
}

.info .separator {
	border-top: 1px solid #C9C9C9;
}

.hide{
    display: none;
}

.profile .tip{
    color: #999;
    font-size: 11px;
}

select{
	line-height: 35px;
	height: 35px;
	width: 207px;
	font-size: 14px;
	padding: 3px 2px;
	border-radius: 1px;
}

.icon-wrap {
	position: relative;
}
.line.icon-wrap input {
	padding-right: 40px;
}
.icon-wrap .icon {
	position: absolute;
	top: 8px;
	left: 290px;
	color: #666;
}