.notification-canvas {
    padding: 20px 30px;
    color: #fff;
}

.notification-canvas a {
    color: #fff;
}

.notification-canvas .title {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.notification-canvas .user-box img {
    margin-right: 5px;
    vertical-align: middle;
}

.notification-canvas .user-box .more{
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    width: 37px;
    height: 37px;
    padding: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.notification-canvas .img-list {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.notification-canvas .img-list li {
    display: inline-block;
    width: 75px;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
}

.notification-canvas .img-list li:last-child {
    margin-right: 0;
}

.notification-canvas .user-box li img {
    margin-bottom: 10px;
}

.banner {
    width: 960px;
    margin: 40px auto;
    position: relative;
}

.swiper-container {
    width: 760px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    
    height: 195px;
    background-repeat: no-repeat;
    background-position: right center;
}
.swiper-pagination {
    position: static;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.swiper-pagination .swiper-pagination-bullet {
    margin:0 5px;
    border: 2px solid #ff5700;
    background-color: transparent;
    opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff5700;
}
.banner .swiper-button-prev, .banner .swiper-button-next {
    width: 50px;
    height: 60px;
    margin-top: -50px;
    background: url(../../images/slide_arrow.png) -50px 0 no-repeat;
}

.banner .swiper-button-prev {
    background-position: -50px 0;
}

.banner .swiper-button-prev:hover {
    background-position: -50px -60px;
}

.banner .swiper-button-next {
    background-position: 0 0;
}

.banner .swiper-button-next:hover {
    background-position: 0 -60px;
}

.banner .anniversary {
    background-color: #121517;
    background-image: url(../../images/slide_anniversary.jpg);
}
.banner .birthday {
    background-color: #01B2E6;
    background-image: url(../../images/slide_birthday.jpg);
}
.banner .newhire {
    background-color: #a4a195;
    background-image: url(../../images/slide_newhire.jpg);
}
