.notification {
    width: 960px;
    height: 120px;
    margin: 50px auto;
}

.notification a{
    padding: 15px;
    width: 430px;
    height: 90px;
    display: block;
}
.notification-canvas {
    width: 460px;
    height: 120px;
    background-position: top right;
    background-repeat: no-repeat;
    background-color: white;
}

.shou-xing-canvas {
    background-image: url('../../images/birthday_bg_ad.png');
    float: left;
}

.anniversary-canvas {
    background-image: url('../../images/anniversary_bg_ad.png');
    float: right;
    background-color: #4b4b4b;
}

.anniversary-canvas .title {
    color: white;
}

.notification-canvas .title{
    font-size: 20px;
}

.notification-canvas .user-box{
    padding-top: 10px;
}

.notification-canvas .user-box img{
    margin-right: 5px;
    vertical-align: middle;
}

.notification-canvas .user-box .more{
    border: 1px solid #f50057;
    color: #f50057;
    font-size: 13px;
    width: 48px;
    height: 48px;
    display: inline-block;
    text-align: center;
    line-height: 48px;
}

