#members{
    width : 1000px;
    margin: 50px auto;
}

.profile{
    width: 160px;
    margin: 0 20px 35px 20px;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.profile.crown::after{
    content: '';
    background-image: url('../../images/crown.png');
    position: absolute;
    top: -36px;
    right: -36px;
    width: 80px;
    height: 80px;
}

.profile.anni::before{
    content: attr(data-anni);
    background-image: url('../../images/badge.png');
    position: absolute;
    right: -36px;
    bottom: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 66px;
    color: white;
}

.profile .photo {
    display: block;
}

.profile:hover .name{
    color: #FFFFFF;
    background-color: #FF0066;
}

.profile .name{
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    font-style: 13px;
}

.notification {
    width: 960px;
    height: 120px;
    margin: 50px auto;
}

.notification-canvas {
    width: 440px;
    height: 90px;
    padding: 15px;
    background-position: top right;
    background-repeat: no-repeat;
    background-color: white;
}

.shou-xing-canvas {
    background-image: url('../../images/birthday_bg_ad.png');
    float: left;
}

.anniversary-canvas {
    background-image: url('../../images/anniversary_bg_ad.png');
    float: right;
    background-color: #4b4b4b;
}

.anniversary-canvas .title {
    color: white;
}

.notification-canvas .title{
    font-size: 20px;
}

.notification-canvas .user-box{
    padding-top: 10px;
}

.notification-canvas .user-box img{
    margin-right: 5px;
    vertical-align: middle;
}

.notification-canvas .user-box .more{
    border: 1px solid #f50057;
    color: #f50057;
    font-size: 13px;
    width: 48px;
    height: 48px;
    display: inline-block;
    text-align: center;
    line-height: 48px;
}

.table-list {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #666;
    font-size: 14px;
}
.table-list img {
    display: block;
    margin: 5px;
}
.table-list tr {
    background-color: #FFF;
}
.table-list tr:hover {
    background-color: #FEFEE5;
    cursor: pointer;
}
.table-list td {
    border:5px solid #F5F5F5;
    border-width: 5px 0;
}
.table-list a {
    color: #F8005A;
    text-decoration: none;
}
.table-list a:hover {
    text-decoration: underline;
}
