body {
	background-color: rgba(245, 245, 245, 1);
	margin: auto;
	font-family: 'Hiragino Sans GB','Microsoft YaHei',arial,sans-serif,"NotoSansCJKsc-Regular"
}

.content {
	width: 100%;
	background: url("/assets/images/landing_bg.jpg") no-repeat;
	background-size: cover;
	margin: 0 auto;
	position: relative;
	height: 430px;
}

.content .title {
	color: white;
	font-size: 48px;
	text-align: center;
	padding-top: 50px;
}

.logo {
	padding-top: 50px;
	text-align: center;
	position: relative;
}

.logo img {
	width: 128px;
	height: 107px;
	padding-left: 50px;
}

.logo .version {
	position: relative;
	top: -104px;
	color: white;
	border: 1px solid white;
	padding: 5px;
	right: 10px;
	font-size: 13px;
}

.content .login-box {
	width: 480px;
	height: 200px;
	background-color: white;
	margin: 50px auto;
	border-radius: 10px;
	position: relative;
	top: 30px;
}

.content .email, .content .empty-email {
	font-size: 16px;
	padding-top: 20px;
	text-align: center;
}

.content .email {
	color: #333333;
}

.content .empty-email {
	color: #FF0000;
	display: none;
}

.content .email-address {
	width: 330px;
	text-align: center;
	margin: 20px auto;
	border: 1px solid #ccc;
	height: 50px;
	border-radius: 5px;
}

.content .email-address input {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 160px;
	height: 48px;
	border: none;
	padding-left: 10px;
	font-size: 13px;
	float: left;
	outline: 0;
}

.content .email-address .email-suffix {
	background-color: #f2f2f2;
	padding: 15px 5px 15px 10px;
	border-radius: 5px;
	color: #333333;
	font-size: 13px;
}

.content .login-button {
	text-align: center;
}

.content .submit {
	background-color: #f50057;
	font-size: 16px;
	padding: 15px 30px;
	color: white;
	border: none;
	border-radius: 5px;
	outline: 0;
}

.after-register{
    display: none;
    font-size: 18px;
    color: rgb(51,51,51);
    font-weight: normal;
    text-align: center;
    padding: 30px 10px 10px 10px;
}

.after-register h3 {
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	margin: 0px 0px;
}

.after-register .re-register{
    margin-top: 40px;
    font-size: 16px;
    color: rgb(245,0,87);
    cursor: pointer;
}

.footer {
	width: 960px;
	margin: 200px auto;
}

.footer .feature {
	width: 280px;
	display: inline-block;
	text-align: center;
}

.footer .center {
	padding-left: 40px;
	padding-right: 40px;
}

.footer .future {
	position: relative;
}

.footer .future .future-tip {
	position: relative;
	top: 17px;
	left: 100px;
	font-size: 12px;
	border: 1px solid #666666;
	padding: 2px 5px;
	color: #666666;
}

.footer .feature .title {
	margin-bottom: 20px;
	font-size: 20px;
}

.footer .feature .description {
	color: #666666;
	font-size: 13px;
	line-height: 20px;
}

.footer .copyright {
	font-size: 12px;
	color: #999999;
	text-align: center;
	font-family: 'Arial Regular', 'Arial';
	margin-top: 50px;
}