body {
	box-sizing: border-box;
}    
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

input:required:invalid, input:focus:invalid {
	background-image: url('/assets/images/invalid.png');
	background-position: right top;
	background-repeat: no-repeat;
}

input:required:valid {
 	background-image: url('/assets/images/valid.png');
 	background-position: right top;
 	background-repeat: no-repeat
}

.top {
	height: 70px;
	background-color: #777777;
	color: white;
}
.top .title {
	margin-top: 16px;
	font-size: 28px;
	margin-left: 250px;
	font-family: "Arial";
}
.top .home {
	margin-top: 27px;
	font-family: "Heiti SC Light","Heiti SC";
	font-size: 16px;
	margin-right: 150px;
	font-family: "Heiti SC Light","Heiti SC";
	color: white;
	text-decoration: none;
}
.profile {
	margin-top: 50px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.profile .portrait {
	display: inline-block;
	width: 35%;
	height: 100%;
	margin-left: 30px;
	margin-right: 50px;
	margin-bottom: 20px;
	padding-left: 15px;
}
.portrait .photo {
	width: 210px;
	height: 280px;
	background: url("/assets/images/default-photo.png") no-repeat center
}
.portrait .tips {
	font-size: 14px;
	margin-left: 60px;
	text-decoration: none;
	color: #09F;
	font-family: "Arial Regular","Arial";
}
.portrait .description {
	font-size: 12px;
	text-align: left;
	margin-top:10px;
	color: #999999;
	font-family: "Heiti SC Light","Heiti SC";
	width: 210px;
}
.profile .info {
	display: inline-block;
	width: 45%;
	height: 100%;
}
.info .line {
		height: 40px;
		margin: 10px 5px;
}
.info .line label {
	float: left;
	width: 100px;
	font-size: 18px;
	line-height: 40px;
}
.info .line input {
	height: 25px;
	width: 200px;
}

.info .separator {
	border-top: 1px solid #C9C9C9;
	width: 500px;
}

.submit {
	padding-left: 107px;
}

.btn {
	position: absolute;
	color: red;
	border: none;
	padding: 12px 6px;
	width: 100px;
	border-radius: 6px;
	margin-top: 20px;
	color: white;
	background-color: #666666;
	font-size: 13px;
}

.hide{
    display: none;
}