#members{
    width : 1000px;
    margin: 50px auto;
}

.profile{
    width: 160px;
    margin: 0 20px 35px 20px;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.profile.crown::after{
    content: '';
    position: absolute;
    top: -36px;
    right: -36px;
    width: 80px;
    height: 80px;
    background-image: url('../../images/crown.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.profile.anni::before{
    content: attr(data-anni);
    position: absolute;
    right: -36px;
    bottom: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 66px;
    background-image: url('../../images/badge.png');
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.profile .photo {
    display: block;
}

.profile:hover .name{
    color: #FFFFFF;
    background-color: #FF0066;
}

.profile .name{
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 45px;
    padding:0 10px;
    line-height: 45px;
    font-style: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-list {
    width: 960px;
    border-collapse: collapse;
    border-spacing: 0;
    color: #666;
    font-size: 14px;
    margin: 0 auto;
}
.table-list img {
    display: block;
    margin: 5px;
}
.table-list img:hover {
    cursor: pointer;
}
.table-list tr {
    background-color: #FFF;
}
.table-list tr:hover {
    background-color: #FEFEE5;
}
.table-list td {
    border:5px solid #F5F5F5;
    border-width: 5px 0;
}
.table-list a {
    text-decoration: none;
}
.table-list .more {
    color: #F8005A;
}
.table-list a:hover {
    color: #F8005A;
    text-decoration: underline;
}

.table-list .profile {
    width: auto;
    margin: 0;
    background-color: transparent;
}

.table-list .profile.crown::after {
    width: 32px;
    height: 32px;
    top: -10px;
    right: -10px;
    background-size: cover;
}

.table-list .profile.anni::before {
    width: 32px;
    height: 42px;
    bottom: -15px;
    right: -5px;
    line-height: 34px;
    font-size: 12px;
    background-size: cover;
}
